<div class="col-sm-5">
    <form [formGroup]="mioForm" (ngSubmit)="onSubmit(mioForm.value)">

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" placeholder="Username..." name="username"
                [formControl]="username" [(ngModel)]="user">
        </div>

        <div *ngIf="username.hasError('required')" class="alert alert-danger">
            Lo username e' richiesto
        </div>

        <div *ngIf="!mioForm.valid" class="alert alert-info">
            Il form non e' valido
        </div>

        <button type="submit" [disabled]="!mioForm.valid" class="btn btn-info">Invia dati</button>
    </form>

    <div style="border-top: 30px;">
        <h3>Ciao {{user}}</h3>
    </div>
</div>